<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="applicable-device" content="pc">
    <link rel="alternate" media="only screen and (max-width: 640px)" href="http://m3w.cn/mtzlg/">
    <title>美女库 - 国内外美女模特资料库及写真集大全 - 美图馆</title>
    <meta name="keywords" content="美女资料,模特资料,模特个人简介资料,美女库">
    <meta name="description" content="精心收集的国内外美女库，包括美女的个人资料及写真集资源库">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="//unpkg.com/iview/dist/styles/iview.css">
    <script src="//unpkg.com/iview/dist/iview.min.js"></script>
    <link href="./static/css/pc.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="./static/js/jquery.js"></script>
    <script type="text/javascript" src="./static/js/js.js"></script>
    <link rel="icon" href="https://img.meituri.com/ico.ico" type="image/x-icon"/>
</head>
<body>

<div class="top">
    <div class="logo"><a href="https://www.meituri.com/"><img src="https://img.meituri.com/css/logo.png" alt="美图馆"/></a>
    </div>
    <div class="nav">
        <ul class="menu">
            <li><a href="index.html">首页</a></li>
            <li><a href="zhongguo.html">中国大陆</a></li>
            <li><a href="taiwan.html">中国台湾</a></li>
            <li><a href="riben.html">日本</a></li>
            <li><a href="hanguo.html">韩国</a></li>
            <li><a href="oumei.html">欧美</a></li>
            <li><a href="taiguo.html">泰国</a></li>
            <li><a href="moters.html">模特库</a></li>
            <li><a href="publishers.html">写真机构</a></li>
        </ul>
    </div>
    <div class="top_r"></div>
</div>

<div id="app">
    <div style="margin-left: 13%;font-size: 16px">
        <label>请选择模特地域: </label>
        <select v-model="area" style="width: 120px" @change="handleSelect">
            <option value="">--请选择--</option>
            <option v-for="item in areasList" :value="item.id">{{item.name}}</option>
        </select>
        <label>请输入搜索关键字: </label>
        <input type="search" v-model="searchtxt" style="width: 120px" @change="handleSearch"
        placeholder="按回车键搜索"/>
    </div>
    <div class="bk10"></div>
    <div class="hezi_t">
        <div class="title">美女模特列表: 共有 {{totalCount}}个模特 </div>
        <ul>
            <li v-for="item in motersList">
                <a :href="`albums.html?moter=`+item.id" target="_blank">
                    <img src="https://ii.hywly.com/t/1580.jpg">
                </a>
                <span class="shuliang">{{item.album_num}}套</span>
                <p><a :href="`albums.html?moter=`+item.id" target="_blank">{{item.name}}</a></p>
            </li>
        </ul>
    </div>
    <div style="text-align: center;">
        <div id="pages">
            <Page :total="totalCount" :page-size="perPageCount" show-elevator @on-change="handlePaginate"/>
        </div>
    </div>
</div>

<div class="bk10"></div>
<div class="width">
    <div class="title">友情链接</div>
    <div class="link">
        <a href="http://m3w.cn/mtzlg" target="_blank">美图馆手机APP/HTML5</a>
        <br/>广告、合作、反馈、联系 xxyy@163.com
    </div>
</div>
<div class="footer">
    <a href="http://m3w.cn/mtzlg" target="_blank">美图馆</a> - 海量超高清的美图库! <a href="http://m3w.cn/mtzlg" target="_blank">版权声明</a>
</div>

<script>
    var myvue = new Vue({
        el: '#app',
        data() {
            return {
                category: 1,
                areasList: [],
                area: '',
                ordering: '-add_time',
                orderingName: 'click_num',
                orderingType: '-',
                motersList: [],
                moter: '',
                searchtxt: '',
                currentPage: 1,
                totalCount: 0,
                perPageCount: 15,
            }
        },
        computed: {},
        watch: {
            ordering: function (val) {

            },
            // search: function (val) {
            //     this.obtainAlbums({
            //         category: 1,
            //         ordering: this.ordering,
            //         publisher: this.publisher,
            //         search: val,
            //         page: this.currentPage
            //     })
            // }
        },
        methods: {
            obtainAreas(queryParams) {
                getAreas({params: queryParams}).then(
                    (response) => {
                        this.areasList = response.data;
                    }
                )
            },
            obtainMoters(queryParams) {
                getMoters({params: queryParams}).then(
                    (response) => {
                        this.motersList = response.data.results;
                        this.totalCount = response.data.count;
                    }
                )
            },
            handlePaginate(page) {
                this.currentPage = page;
                window.location = '#app';
                this.obtainMoters({area: this.area, page: this.currentPage});
            },
            handleOrdering(orderName) {
                this.orderingName = orderName;
                if (this.orderingType === '') {
                    this.orderingType = '-'
                } else {
                    this.orderingType = ''
                }
                this.ordering = this.orderingType + this.orderingName;
            },
            handleSelect() {
                this.obtainMoters({area: this.area, page: this.currentPage});
            },
            handleSearch() {
                this.obtainMoters({search: this.searchtxt, page: this.currentPage});
            }
        },
        created() {
            this.obtainAreas({});
            this.obtainMoters({area: this.area, page: this.currentPage});
        }
    });
</script>

</body>
</html>
