<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="applicable-device" content="pc">
    <link rel="alternate" media="only screen and (max-width: 640px)" href="http://m3w.cn/mtzlg/">
    <title>泰国美女图片大全|美女写真集 - 超高清美女图片库_美图馆</title>
    <meta name="keywords" content="泰国美女图片,美女写真,美女,美女图片库,美图馆,美图,写真集">
    <meta name="description" content="美图馆,一家专门收录各类超高清泰国美图的网站，包括泰国美女图片、美女写真集、唯美图片、小清新图片等,做一个专业的美女图片库">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="//unpkg.com/iview/dist/styles/iview.css">
    <script src="//unpkg.com/iview/dist/iview.min.js"></script>
    <link href="./static/css/pc.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="./static/js/jquery.js"></script>
    <script type="text/javascript" src="./static/js/js.js"></script>
    <link rel="icon" href="https://img.meituri.com/ico.ico" type="image/x-icon"/>
</head>
<body>

<div class="top">
    <div class="logo"><a href="https://www.meituri.com/"><img src="https://img.meituri.com/css/logo.png" alt="美图馆"/></a>
    </div>
    <div class="nav">
        <ul class="menu">
            <li><a href="index.html">首页</a></li>
            <li><a href="zhongguo.html">中国大陆</a></li>
            <li><a href="taiwan.html">中国台湾</a></li>
            <li><a href="riben.html">日本</a></li>
            <li><a href="hanguo.html">韩国</a></li>
            <li><a href="oumei.html">欧美</a></li>
            <li><a href="taiguo.html">泰国</a></li>
            <li><a href="moters.html">模特库</a></li>
            <li><a href="publishers.html">写真机构</a></li>
        </ul>
    </div>
    <div class="top_r"></div>
</div>

<div id="app">
    <Row>
        <i-col :span="5"><div style="width: 100%;height: 1px"></div></i-col>
        <i-col :span="14">
            <Card>
                <Row :gutter="8">
                    <i-col :span="4">
                        <Button @click="handleOrdering('add_time')">
                            发布时间
                            <Icon v-if="orderingName === 'add_time' & orderingType === ''"
                                  type="ios-arrow-round-up" :size="24"/>
                            <Icon v-if="orderingName === 'add_time' & orderingType === '-'"
                                  type="ios-arrow-round-down" :size="24"/>
                        </Button>
                    </i-col>
                    <i-col :span="4">
                        <Button @click="handleOrdering('click_num')">
                            浏览量
                            <Icon v-if="orderingName === 'click_num' & orderingType === ''"
                            type="ios-arrow-round-up" :size="24"/>
                            <Icon v-if="orderingName === 'click_num' & orderingType === '-'"
                            type="ios-arrow-round-down" :size="24"/>
                        </Button>
                    </i-col>
                    <i-col :span="4">
                        <Button>
                            点赞量
                        </Button>
                    </i-col>
                    <i-col :span="4">
                        <Button @click="handleOrdering('focus_num')">
                            收藏量
                            <Icon v-if="orderingName === 'focus_num' & orderingType === ''"
                                  type="ios-arrow-round-up" :size="24"/>
                            <Icon v-if="orderingName === 'focus_num' & orderingType === '-'"
                                  type="ios-arrow-round-down" :size="24"/>
                        </Button>
                    </i-col>
                    <i-col :span="6">
                        <select v-model="publisher" placeholder="请选择摄影出品机构"
                                @on-change="selectByPublisher">
                            <option v-for="item in publisherList" :value="item.id" :key="item.id">{{ item.name }}</option>
                        </select>
                    </i-col>
                </Row>
            </Card>
        </i-col>
        <i-col :span="5"><div style="width: 100%;height: 1px"></div></i-col>
    </Row>
    <div class="hezi">
        <ul>
            <li v-for="item in albums">
                <a :href="`detail.html?album=`+item.id" target="_blank"><img :src="item.cover"></a>
                <span class="shuliang">{{item.img_num}}P</span>
                <p>机构： <a :href="`albums.html?publisher=`+item.publisher.id" target="_blank">{{item.publisher.name}}</a></p>
                <p>模特： <a :href="`albums.html?moter=`+item.moter.id" target="_blank">{{item.moter.name}}</a></p>
                <p>标签： <a v-for="tag in item.tags" :href="`albums.html?tag=`+tag.id" target="_blank">{{tag.name}}</a></p>
                <p class="biaoti">{{item.name}}</p>
            </li>
        </ul>
    </div>
    <div class="bk10"></div>
    <center>
        <div id="pages">
            <Page :total="totalImgCount" :page-size="perPageCount" show-elevator @on-change="handlePaginate"/>
        </div>
    </center>
</div>

<div class="bk10"></div>
<div class="width">
    <div class="title">友情链接</div>
    <div class="link">
        <a href="http://m3w.cn/mtzlg" target="_blank">美图馆手机APP/HTML5</a>
        <br/>广告、合作、反馈、联系 xxyy@163.com
    </div>
</div>
<div class="footer">
    <a href="http://m3w.cn/mtzlg" target="_blank">美图馆</a> - 海量超高清的美图库! <a href="http://m3w.cn/mtzlg" target="_blank">版权声明</a>
</div>

<script>
    var myvue = new Vue({
        el: '#app',
        data() {
            return {
                albums: [],
                category: 1,
                area: 2,
                ordering: '-add_time',
                orderingName: 'click_num',
                orderingType: '-',
                publisher: '',
                publisherList:[],
                moter: '',
                currentPage: 1,
                totalImgCount: 0,
                perPageCount:12,
            }
        },
        computed: {
        },
        watch: {
            ordering: function (val) {
                this.obtainAlbums({
                    category: this.category,
                    area: this.area,
                    ordering: val,
                    publisher: this.publisher,
                    moter: this.moter,
                    page: this.currentPage
                })
            },
            // search: function (val) {
            //     this.obtainAlbums({
            //         category: 1,
            //         ordering: this.ordering,
            //         publisher: this.publisher,
            //         search: val,
            //         page: this.currentPage
            //     })
            // }
        },
        methods: {
            obtainPublishers(queryParams) {
                getPublishers({params: queryParams}).then(
                    (response) => {
                        this.publisherList = response.data
                    }
                )
            },
            obtainAlbums(queryParams) {
                getAlbums({params: queryParams}).then(
                    (response) => {
                        this.albums = response.data.results;
                        this.totalImgCount = response.data.count;
                    }
                )
            },
            handlePaginate(page) {
                this.currentPage = page;
                window.location = '#app';
                this.obtainAlbums({
                    category: this.category,
                    area: this.area,
                    ordering: this.ordering,
                    publisher: this.publisher,
                    moter: this.moter,
                    page: this.currentPage
                });
            },
            handleOrdering(orderName) {
                this.orderingName = orderName;
                if (this.orderingType === '') {
                    this.orderingType = '-'
                } else {
                    this.orderingType = ''
                }
                this.ordering = this.orderingType + this.orderingName;
            },
            selectByPublisher() {
                alert('hahahhaha');
                this.obtainAlbums({
                    category: this.category,
                    area: this.area,
                    ordering: this.ordering,
                    publisher: this.publisher,
                    moter: this.moter,
                    page: this.currentPage
                });
            },
        },
        created() {
            this.obtainPublishers({area: this.area,});
            this.obtainAlbums({
                category: this.category,
                area: this.area,
                ordering: this.ordering,
                publisher: this.publisher,
                moter: this.moter,
                page: this.currentPage
            });
        }
    });
</script>

</body>

</html>
