<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="applicable-device" content="pc">
    <link rel="alternate" media="only screen and (max-width: 640px)" href="https://m.meituri.com/">
    <title>美女图片大全|美女写真集 - 超高清美女图片库_美图日</title>
    <meta name="keywords" content="美女图片,美女写真,美女,美女图片库,美图日,美图,写真集">
    <meta name="description" content="美图日,一家专门收录各类超高清美图的网站，包括美女图片、美女写真集、唯美图片、小清新图片等,做一个专业的美女图片库">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="//unpkg.com/iview/dist/styles/iview.css">
    <script src="//unpkg.com/iview/dist/iview.min.js"></script>
    <link href="./static/css/pc.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="https://img.meituri.com/css/jquery.js"></script>
    <script type="text/javascript" src="./static/js/js.js"></script>
    <script type="text/javascript" src="./static/js/gg.js"></script>
    <link rel="icon" href="https://img.meituri.com/ico.ico" type="image/x-icon"/>
</head>
<body>

<div class="top">
    <div class="logo"><a href="https://www.meituri.com/"><img src="https://img.meituri.com/css/logo.png" alt="美图日"/></a>
    </div>
    <div class="nav">
        <ul class="menu">
            <li><a href="index.html">首页</a></li>
            <li><a href="https://www.meituri.com/mote/">美女库</a></li>
            <li><a href="zhongguo.html">中国大陆</a></li>
            <li><a href="taiwan.html">中国台湾</a></li>
            <li><a href="detail.html">相册详情页</a></li>
            <li><a href="https://www.meituri.com/riben/">日本</a></li>
            <li><a href="https://www.meituri.com/hanguo/">韩国</a></li>
            <li><a href="https://www.meituri.com/oumei/">欧美</a></li>
            <li><a href="https://www.meituri.com/taiguo/">泰国</a></li>
            <li id="tag"><span>分类</span><i></i>
                <ul id="tag_ul">
                    <li><a href="https://www.meituri.com/s/35/">性感</a></li>
                    <li><a href="https://www.meituri.com/s/59/">女神</a></li>
                    <li><a href="https://www.meituri.com/s/54/">唯美</a></li>
                    <li><a href="https://www.meituri.com/s/83/">正妹</a></li>
                    <li><a href="https://www.meituri.com/s/13/">校服</a></li>
                    <li><a href="https://www.meituri.com/s/149/">萌女</a></li>
                    <li><a href="https://www.meituri.com/s/24/">牛仔</a></li>
                    <li><a href="https://www.meituri.com/s/49/">比基尼</a></li>
                    <li><a href="https://www.meituri.com/s/74/">外拍</a></li>
                    <li><a href="https://www.meituri.com/s/80/">日本少女</a></li>
                    <li><a href="https://www.meituri.com/s/47/">极品</a></li>
                    <li><a href="https://www.meituri.com/s/31/">美腿</a></li>
                    <li><a href="https://www.meituri.com/s/15/">丝袜</a></li>
                    <li><a href="https://www.meituri.com/s/150/">日本妹子</a></li>
                    <li><a href="https://www.meituri.com/s/16/">蕾丝</a></li>
                    <li><a href="https://www.meituri.com/s/186/">性感少女</a></li>
                </ul>
            </li>
            <li><a href="https://www.meituri.com/jigou/">写真机构</a></li>
        </ul>
    </div>
    <div class="top_r"></div>
</div>

<div id="app">
    <div class="hezi_t">
        <div class="title">热门中国大陆美女</div>
        <div class="bk10"></div>
        <ul>
            <li><a href="https://www.meituri.com/t/1345/" target="_blank"><img
                    src="https://ii.hywly.com/t/1345.jpg"></a>
                <span class="shuliang">8套</span>
                <p><a href="https://www.meituri.com/t/1345/" target="_blank">麦苹果 ( 麦苹果Waiting )</a></p>
            </li>
            <li><a href="https://www.meituri.com/t/797/" target="_blank"><img src="https://ii.hywly.com/t/797.jpg"></a>
                <span class="shuliang">14套</span>
                <p><a href="https://www.meituri.com/t/797/" target="_blank">小沫琳 ( 琳琳ailin,黄锦琳 )</a></p>
            </li>
            <li><a href="https://www.meituri.com/t/786/" target="_blank"><img src="https://ii.hywly.com/t/786.jpg"></a>
                <span class="shuliang">33套</span>
                <p><a href="https://www.meituri.com/t/786/" target="_blank">温心怡 ( 温馨怡 )</a></p>
            </li>
            <li><a href="https://www.meituri.com/t/289/" target="_blank"><img src="https://ii.hywly.com/t/289.jpg"></a>
                <span class="shuliang">11套</span>
                <p><a href="https://www.meituri.com/t/289/" target="_blank">小潘鼠 ( 潘玮 )</a></p>
            </li>
            <li><a href="https://www.meituri.com/t/1333/" target="_blank"><img
                    src="https://ii.hywly.com/t/1333.jpg"></a>
                <span class="shuliang">9套</span>
                <p><a href="https://www.meituri.com/t/1333/" target="_blank">珞可可 ( 洛可可 )</a></p>
            </li>
            <li><a href="https://www.meituri.com/t/2425/" target="_blank"><img
                    src="https://ii.hywly.com/t/2425.jpg"></a>
                <span class="shuliang">5套</span>
                <p><a href="https://www.meituri.com/t/2425/" target="_blank">何娇娇 ( 头条女神模特何娇娇 )</a></p>
            </li>
            <li><a href="https://www.meituri.com/t/1579/" target="_blank"><img
                    src="https://ii.hywly.com/t/1579.jpg"></a>
                <span class="shuliang">2套</span>
                <p><a href="https://www.meituri.com/t/1579/" target="_blank">连欣 ( 连心 )</a></p>
            </li>
            <li><a href="https://www.meituri.com/t/3156/" target="_blank"><img
                    src="https://ii.hywly.com/t/3156.jpg"></a>
                <span class="shuliang">35套</span>
                <p><a href="https://www.meituri.com/t/3156/" target="_blank">周于希 ( 周于希Sandy )</a></p>
            </li>
            <li><a href="https://www.meituri.com/t/908/" target="_blank"><img src="https://ii.hywly.com/t/908.jpg"></a>
                <span class="shuliang">7套</span>
                <p><a href="https://www.meituri.com/t/908/" target="_blank">夏倪可 ( 夏雪儿,雪baby )</a></p>
            </li>
            <li><a href="https://www.meituri.com/t/1730/" target="_blank"><img
                    src="https://ii.hywly.com/t/1730.jpg"></a>
                <span class="shuliang">7套</span>
                <p><a href="https://www.meituri.com/t/1730/" target="_blank">奈奈Fox ( Foxlag )</a></p>
            </li>

        </ul>
    </div>
    <div class="bk20"></div>
    <script>lanmu1()</script>
    <div class="bk20"></div>
    <div class="shoulushuliang">精选中国大陆美女写真图片</div>
    <hr/>
    <div class="hezi">
        <ul>
            <li v-for="item in hotAlbums">
                <a href="https://www.meituri.com/a/554/" target="_blank"><img :src="item.cover"></a>
                <span class="shuliang">{{item.img_num}}P</span>
                <p>机构： <a href="https://www.meituri.com/x/39/" target="_blank">{{item.publisher.name}}</a></p>
                <p>模特： <a href="https://www.meituri.com/t/130/" target="_blank">{{item.moter.name}}</a></p>
                <p>标签： <a href="https://www.meituri.com/s/34/" target="_blank">气质</a>
                    <a href="https://www.meituri.com/s/51/" target="_blank">清新</a>
                    <a href="https://www.meituri.com/s/54/" target="_blank">唯美</a>
                </p>
                <p class="biaoti"><a href="https://www.meituri.com/a/554/" target="_blank">{{item.name}}</a>
                </p>
            </li>
        </ul>
    </div>
    <div class="shoulushuliang">最新收录</div>
    <hr/>
    <div class="hezi">
        <ul>
            <li v-for="item in newAlbums">
                <a href="/albums/{{item.id}}/" target="_blank"><img :src="item.cover"></a>
                <span class="shuliang">{{item.img_num}}P</span>
                <p>机构： <a href="https://www.meituri.com/x/39/" target="_blank">{{item.publisher.name}}</a></p>
                <p>模特： <a href="https://www.meituri.com/t/130/" target="_blank">{{item.moter.name}}</a></p>
                <p>标签： <a href="https://www.meituri.com/s/34/" target="_blank">气质</a>
                    <a href="https://www.meituri.com/s/51/" target="_blank">清新</a>
                    <a href="https://www.meituri.com/s/54/" target="_blank">唯美</a>
                </p>
                <p class="biaoti"><a href="https://www.meituri.com/a/554/" target="_blank">{{item.name}}</a>
                </p>
            </li>
        </ul>
    </div>
    <script>liebiao()</script>
    <div class="bk10"></div>
    <center>
        <div id="pages">
            <Page :total="totalImgCount" :page-size="perPageCount" show-elevator @on-change="handlePaginate"/>
        </div>
    </center>
</div>

<div class="bk20"></div>
<div class="footer">
    <a href="https://www.meituri.com/">美图日</a> - 海量超高清的美图库! <a href="https://www.meituri.com/html/bq/">版权声明</a>
    <p>
        <script src="https://s95.cnzz.com/z_stat.php?id=1261136975&web_id=1261136975" language="JavaScript"></script>
    </p>
</div>
<script>foot()</script>

<script>
    var host = 'http://127.0.0.1:8000';

    function getAlbums(params) {
        if ('id' in params) {
            return axios.get(`${host}/albums/` + params.id + '/')
        } else {
            return axios.get(`${host}/albums/`, params)
        }
    }

    var myvue = new Vue({
        el: '#app',
        data() {
            return {
                hotAlbums: [],
                newAlbums: [],
                category: 1,
                area: 1,
                ordering: '-add_time',
                publisher: '',
                moter: '',
                currentPage: 1,
                totalImgCount: 0,
                perPageCount:12,
            }
        },
        methods: {
            obtainHotAlbums(queryParams) {
                getAlbums({params: queryParams}).then(
                    (response) => {
                        this.hotAlbums = response.data.results;
                    }
                )
            },
            obtainNewAlbums(queryParams) {
                getAlbums({params: queryParams}).then(
                    (response) => {
                        this.newAlbums = response.data.results;
                        this.totalImgCount = response.data.count;
                    }
                )
            },
            handlePaginate(page) {
                this.currentPage = page;
                this.obtainHotAlbums({
                    category: this.category,
                    area: this.area,
                    ordering: '-click_num',
                    publisher: this.publisher,
                    moter: this.moter,
                    page: this.currentPage
                });
                this.obtainNewAlbums({
                    category: this.category,
                    area: this.area,
                    ordering: '-add_time',
                    publisher: this.publisher,
                    moter: this.moter,
                    page: this.currentPage
                });
            }
        },
        created() {
            this.obtainHotAlbums({
                category: this.category,
                area: this.area,
                ordering: '-click_num',
                publisher: this.publisher,
                moter: this.moter,
                page: this.currentPage
            });
            this.obtainNewAlbums({
                category: this.category,
                area: this.area,
                ordering: '-add_time',
                publisher: this.publisher,
                moter: this.moter,
                page: this.currentPage
            });
        }
    });
</script>

</body>

</html>
